{deps, [
	{jsx,
		".*", {git, "https://github.com/talentdeficit/jsx.git",
			{branch, "master"}
	  }
	},

	{gproc,
		".*", {git, "https://github.com/uwiger/gproc.git",
			{branch, "master"}
		}
	},
	{ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}}
]}.

{sub_dirs, ["rel"]}.

{cover_enabled, true}.